<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncModule.Properties.Settings.GisConnectionString" connectionString="Data Source=gisra;Persist Security Info=True;User ID=sit;Password=sit2310;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="SyncModule.Properties.Settings.SqlConnectionString" connectionString="Data Source=srvspsdb\sqlsimple;Initial Catalog=Appostamenti;Persist Security Info=True;User ID=sit;Password=sit2310" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
